/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/node_modules/
/backend/vendor/
/backend/.phpunit.result.cache
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/public/storage
/backend/bootstrap/cache/*
/backend/public/hot
.idea/
.vscode/
Thumbs.db
.DS_Store

# User Uploads Fallbacks and Reports
/backend/public/images/jewelery/*
!/backend/public/images/jewelery/.gitkeep
/backend/public/images/categories/*
!/backend/public/images/categories/.gitkeep
/backend/public/images/*.jpg
/backend/public/images/*.jpeg
/backend/public/images/*.png
/backend/public/images/*.webp
/backend/public/images/*.gif
/backend/public/reports/*
!/backend/public/reports/.gitkeep
