/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/node_modules/
/backend/vendor/
/backend/.phpunit.result.cache
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/public/storage
/backend/bootstrap/cache/*
/backend/public/hot
.idea/
.vscode/
Thumbs.db
.DS_Store
